table {
    width: 100%;
    margin-top: 10px;
}
th{
    width: 20%;
}
.pointer{
    cursor: pointer;
}
.icon{
   text-align: right; 
   color: gray;
}
.icon:hover{
    color:indianred;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
